
<div id="contentPrize" class="container-fluid">
  <div class = "row border">
    <div class="col-2">
        <div class="row" *ngFor="let b of prizes">
            <figure class="figure">
                <figcaption class="title-caption text-center" (click)="onSelected(b)">{{b.name}} </figcaption>
            </figure>
        </div>
    </div>
    <div class="col-10 border">
      <div *ngIf="selected">
        <app-prize-detail [prizeDetail]="selectedPrize"></app-prize-detail>
      </div>
    </div>
  </div>
</div>





