
<div class="container-fluid">
  <div class="col-2">
    <table class="table">
      <thead>
        <tr>
          <th class="h4">Prize´s Name</th>
          <th class="h4"> </th>
        </tr>
      </thead>
      <tbody>
        <div class="col" *ngFor="let b of prizes">
          <figure class="figure">
              <figcaption class="title-caption text-center" (click)="onSelected(b)">{{b.name}} </figcaption>
          </figure>
      </div>
      </tbody>
    </table>
  </div>
</div>

<div class="row p-3">
  <div class="col border">
    <div *ngIf="selected">
      <app-prize-detail [prizeDetail]="selectedPrize"></app-prize-detail>
    </div>
  </div>
</div>

