<div id="contentPerformer" class="container-fluid">
  <p class="h3 p-3">{{performerDetail.name}}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img class="img-fluid" src="{{performerDetail.image}}" alt="Foto Cantante {{performerDetail.name}}" title = "Fotografia cantante seleccionado" />
      </div>
    </div>

    <div class="col">
      <dl>
        <dt i18n> Id Performers</dt>
        <dd>{{performerDetail.id}}</dd>
        <dt i18n> Name</dt>
        <dd>{{performerDetail.name}}</dd>
        <hr>
        <dt i18n>BirthDate</dt>
        <dd>{{ performerDetail.birthDate |date:"longDate"}}</dd>
        <hr>
        <dt class="Description" i18n>Description</dt>
        <dd>{{performerDetail.description}}</dd>
        <hr>
      </dl>
    </div>

    <div class="col-2">
      <div class="thumb">
        <dd *ngFor = "let c of performerDetail.albums"><img class="img-fluid" src="{{c.cover}}" alt="Caratula Album {{c.name}}">
          <div class="col">
            <dl>

              <dt i18n>Album Name</dt>
              <dd>{{c.name}}</dd>
              <dd>{{c.recordLabel}}</dd>
              <dd>{{c.releaseDate |date:"longDate"}}
              <dd>{{c.genre}}

            </dl>
          </div>
        </dd>
      </div>
    </div>

    <div class="col">
      <dl>
        <hr>
        <dt i18n> Performer Prizes Date</dt>
        <dd *ngFor = "let a of performerDetail.performerPrizes">{{a.premiationDate |date:"longDate"}}</dd>
      </dl>
    </div>

  </div>
</div>
