<div class="container-fluid">
  <p class="h3 p-3">{{performerDetail.name}}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img class="img-fluid" src="{{performerDetail.image}}" />
      </div>
    </div>

    <div class="col">
      <dl>
        <dt> Id Performers</dt>
        <dd>{{performerDetail.id}}</dd>
        <dt> Name</dt>
        <dd>{{performerDetail.name}}</dd>
        <hr>
        <dt>BirthDate</dt>
        <dd>{{performerDetail.birthDate}}</dd>
        <hr>
        <dt class="Description">Description</dt>
        <dd>{{performerDetail.description}}</dd>
        <hr>
      </dl>
    </div>
  </div>
</div>
