<div class="container-fluid">
  <p class="h3 p-3">{{performerDetail.name}}</p>
  <div class="row">
    <div class="col-2">
      <div class="thumb">
        <img class="img-fluid" src="{{performerDetail.image}}" />
      </div>
    </div>

    <div class="col">
      <dl>
        <dt> Id Performers</dt>
        <dd>{{performerDetail.id}}</dd>
        <dt> Name</dt>
        <dd>{{performerDetail.name}}</dd>
        <hr>
        <dt>BirthDate</dt>
        <dd>{{ performerDetail.birthDate |date:"longDate"}}</dd>
        <hr>
        <dt class="Description">Description</dt>
        <dd>{{performerDetail.description}}</dd>
        <hr>
      </dl>
    </div>

    <div class="col-2">
      <div class="thumb">
        <dd *ngFor = "let c of performerDetail.albums"><img class="img-fluid" src="{{c.cover}}" >
          <div class="col">
            <dl>

              <dt>Album Name</dt>
              <dd>{{c.name}}</dd>
              <dd>{{c.recordLabel}}</dd>
              <dd>{{c.releaseDate |date:"longDate"}}
              <dd>{{c.genre}}
              <dt>Tracks</dt>
              <dd>{{c.tracks}}
              <dt>Comments</dt>
              <dd>{{c.comments}}
            </dl>
          </div>
        </dd>
      </div>
    </div>

    <div class="col">
      <dl>
        <hr>
        <dt> Performer Prizes Date</dt>
        <dd *ngFor = "let a of performerDetail.performerPrizes">{{a.premiationDate |date:"longDate"}}</dd>
      </dl>
    </div>

  </div>
</div>
