<div class="container-fluid">
  <div class="col-4 p-3">
    <div class="h4" i18n>Prize Creation</div>

    <form
      [formGroup]="prizeForm"
      (ngSubmit)="!prizeForm.invalid && createPrize(prizeForm.value)"


    >


      <!-- Name -->
      <div class="form-group mx-sm-3 mb-2">
        <label for="name" i18n>Name*</label>
        <input
          novalidate
          id="name"
          class="form-control"
          formControlName="name"
          i18n-placeholder placeholder="Name"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            prizeForm.get('name')?.hasError('required') &&
            prizeForm.get('name')?.touched
          "
        >
          Name required
        </div>
      </div>


      <!-- Description -->
      <div class="form-group mx-sm-3 mb-2">
        <label for="description" i18n>Description*</label>
        <input
          novalidate
          id="description"
          class="form-control"
          formControlName="description"
          i18n-placeholder placeholder="Description"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            prizeForm.get('description')?.hasError('required') &&
            prizeForm.get('description')?.touched
          "
        >
          Description
        </div>
      </div>


      <!-- Organization -->
      <div class="form-group mx-sm-3 mb-2">
        <label for="organization" i18n>Organization*</label>
        <input
          novalidate
          id="organization"
          class="form-control"
          formControlName="organization"
          i18n-placeholder placeholder="Organization"
        />
        <div
          class="alert alert-danger alert-dismissible fade show"
          *ngIf="
            prizeForm.get('organization')?.hasError('required') &&
            prizeForm.get('organization')?.touched
          "
        >
          Organization
        </div>
      </div>

      <button type="submit" class="btn btn-primary"
          [disabled]="!prizeForm.valid" i18n>Create</button>
        <button type="button" class="btn btn-danger ml-3"
          (click)="cancelCreation()" i18n>Cancel</button>
    </form>
  </div>
</div>
