<div class="container-fluid">
  <dl>
    <dt i18n> Organization</dt>
    <dd>{{prizeDetail.organization}}</dd>
  </dl>

  <div class="col">
    <dl>
      <dt i18n> Description</dt>
      <dd>{{prizeDetail.description}}</dd>
    </dl>
  </div>
  <div class="col">
    <dl>
      <hr>
        <dt i18n> Performer Prizes Date</dt>
        <dd *ngFor = "let a of prizeDetail.performerPrizes">{{strToDate(a.premiationDate) |date:"longDate"}}</dd>
        <dt> ID</dt>
        <dd>{{prizeDetail.id}}</dd>
    </dl>
  </div>
</div>
