
<div class="row" *ngFor="let a of albums">
  <figure class="figure">
      <img
        class="img-fluid"
        src='{{a.cover}}'
        alt='Caratula disco {{a.name}}'
        (click)="onSelected(a)"
        [routerLink]="[a.id]"
      />
      <figcaption class="title-caption text-center">
        {{a.name}}. [{{a.recordLabel}}]
      </figcaption>
  </figure>
</div>

<!--
  <div *ngIf="selected">
        <app-album-detail [albumDetail] = "selectedAlbum" ></app-album-detail>
      </div>
-->
